.collapsed-form {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: white;
  border: none;
  border-top: 5px solid var(--main-bg-color);
  transform: none;
}

.collapsed-form:last-of-type {
  border-bottom: 5px solid var(--main-bg-color);
}

.collapsed-form:active {
  scale: none;
}

.collapsed-form > .collapsed-form-title {
  font-size: 16px;
  font-family: "NotoSans-SemiBold";
}

.collapsed-form > svg {
  color: rgb(77, 77, 77);
  transition: 0.2s;
  font-size: 18px;
  /* width: 43px; */
  /* padding: 10px; */
}

.collapsed-form > svg:hover {
  color: black;
}
