.template-loader {
  padding: 12px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: sticky;
  /* top: 8px; */
  z-index: 3;
  box-shadow: #999793 0 7px 15px 0;
}

.template-loader button {
  font-size: 14px;
  border-radius: 4px;
  border: none;
  font-family: "NotoSans-Bold";
  flex-grow: 1;
  transition: 0.1s;
}

button:active {
  scale: 0.95;
}

.template-loader .load-example {
  padding: 6px;
}

.clear-resume {
  background-color: white;
  color: red;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
